.footer(data-role="footer")
  Facultad de Economía y Administración. Universidad Nacional del Comahue. Argentina.

%script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js",
        :integrity => "sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW",
        :crossorigin => "anonymous"}
