!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "content-type",
          :content => "text/html; charset=UTF-8"}
    %meta{:name => 'viewport',
          :content => "width=device-width, initial-scale=1, shrink-to-fit=no"}

    %meta{:name => "author", :content => "Gimenez, Christian"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}

    %link{:rel => "apple-touch-icon", :href => "imgs/favicon.png"}
    %link{:rel => "shortcut icon", :type => "image/x-icon",
          :href => "imgs/favicon.ico", :size => "48x48"}
    %link{:rel => "icon", :type => "image/png",
          :href => "imgs/favicon-32x32.png", :size => "32x32"}
    %link{:rel => "icon", :type => "image/png",
          :href => "imgs/favicon-16x16.png", :size => "16x16"}

    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css",
          :rel => "stylesheet",
          :integrity => "sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1",
          :crossorigin => "anonymous"}

    %link{:href => "./node_modules/@fortawesome/fontawesome-free/css/all.min.css",
          :rel => "stylesheet"}

    %title FAEA - ADPPFPMN
 
  %body

    = Haml::Engine.new(File.read("main.haml")).render
    
    .container 
      = Haml::Engine.new(File.read("footer.haml")).render
