.container
  %h1 Aplicaciones Digitales para Planificar la Produccion de Frutos de Perales y Manzanos en la Nord Patagonia

  %h1 Tablas de Raleo
  %p
    Las Tablas de Raleo permiten seleccionar la medida correcta del fruto a ralear. Puede consultar la página mediante el siguiente botón:
    
  %a.btn.btn-primary(href="https://faea-adppfpmn.gitlab.io/tablas-raleo-page/")
    %i.fas.fa-table
    Tablas Raleo

  %h1 Mediciones de frutos
  %figure.figure.float-end
    %img.figure-img.img-fluid.rounded(src="./imgs/reme-screen.png" style="width: 250px" )
    %figcaption.figure-caption Captura de pantalla de la aplicación para Android.

  %p
    Las mediciones de frutos se recolectan por medio de una aplicación para dispositivos móviles Android. Luego de iniciada la sesión, puede ser utilizada sin conexión a Internet.

  %p Descargue el archivo APK con el siguiente botón:
    
  %a.btn.btn-primary(href="http://170.210.83.34:37780/reme/reme-v0.0.1.apk")
    %i.fas.fa-download
    Aplicación APK

  %p
    El APK es un archivo que contiene todo lo necesario para instalar la aplicación. Luego, siga las instrucciones para iniciar sesión en el sistema Web y realizar la captura de datos.
